@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}


.spaceship-display-screen {


  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  align-items: center;
  font-family: "Orbitron", sans-serif;
  color: #f2982f;
  text-shadow: 0 0 10px #f2982f, 0 0 20px #f2982f, 0 0 30px #f2982f;;
  border: #f2982f 1px solid;/* Adjust the color to your preference */
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 111111; /* Higher z-index to bring it up above other elements */
  /* Center the screen and scale it up */

}
.spaceship-display-screen-offset {
position: fixed;

  width: 100%;
  height: 40rem;
  background: rgba(0, 0, 0, 0.541);
  backdrop-filter: blur(5px);
  align-items: center;
  font-family: "Orbitron", sans-serif;
  color: #f2982f;
  text-shadow: 0 0 10px #f2982f, 0 0 20px #f2982f, 0 0 30px #f2982f;;
  border: #f2982f 1px solid;/* Adjust the color to your preference */
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 11111111111115; /* Higher z-index to bring it up above other elements */
  /* Center the screen and scale it up */
  opacity: 0.3;
  pointer-events: none;
  animation : blink 1s infinite;


}

.spaceship-display-screen-offset:hover {
  opacity: 0;

}



.screen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none; /* Initially hidden */
}

.screen-border {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid #f2982f; /* Adjust the color to your preference */
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #f2982f; /* Adjust the color to your preference */
  overflow: hidden;
  opacity: 1; /* Set the initial opacity value here */
  transition: opacity 0.3s ease;
}

.screen-border:hover {
  opacity: 0.8; /* Set the opacity value on hover */
}

.prompt-utility-div-right{
  position: fixed;
  bottom: -100rem;
  left: 350%;
  right: 100%;
  width: 450%;
  height: 200rem;
  background: rgba(0, 0, 0, 0.0);
}
.prompt-utility-div-right:hover {
z-index: -1;
}
.prompt-utility-div-left{
  position: fixed;
  bottom: -100rem;
  left: -110%;
  right: 0;
  width: 50%;
  height: 200rem;
  background: rgba(0, 0, 0, 0.0);
}
.prompt-utility-div-left:hover {
z-index: -1;
}
.spaceship-display-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 255, 0, 0.1), rgba(0, 255, 0, 0.2));
  opacity: 0.2;
  z-index: 100;
  pointer-events: none;
}

.spaceship-display-screen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(45deg, rgba(0, 255, 0, 0.03) 0, rgba(0, 255, 0, 0.03) 2px, transparent 2px, transparent 4px);
  opacity: 0.3;
  pointer-events: none;
}
.unfocused{
  position: absolute;
  top: 148%;
  left: 40%;
  width: 25%;
  height: 27%;
  transform: perspective(1000px) rotateX(25deg) rotateY(-9deg)rotateZ(-2deg) skewY(-2deg) scale(1.3) skewX(30deg);
  transform-origin: center bottom;
  z-index: 1000000000000;
  animation: randomFlicker 2.65s infinite ease-in-out;
}

.unfocused-focused{
  position: relative;
  top: 0;
  left: 0%;
  opacity: 0.01;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.unfocused-right {
  position: absolute;
   /* Add top property */
  top: 70%;
  right:2%;
  left: 81%;
  width: 10%;
  height:25%;
  transform: translateY(-31%) perspective(1000px) rotateX(45deg) rotateY(-6deg) rotateZ(26deg) scale(0.7) skewX(-15deg); /* Add translateY */
  transform-origin: right center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  z-index: 10;
  animation: randomFlicker 2.65s infinite ease-in-out;
}


.focused {
  position: static;
  transform: translateX(20%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px 0px;
  z-index: 20; /* Add a higher z-index value */
}

.unfocused-bottom {
  position: absolute;
  align-items: center;
  bottom: 20%;
  right: 10%;
  width: 80%;
  transform: perspective(1000px) rotateX(0deg) scale(1.3);
  transform-origin: center bottom;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  transition: transform 0.5s ease-in-out, bottom 0.5s ease-in-out, right 0.5s ease-in-out, width 0.5s ease-in-out;
}
.focused-bottom {
  position: relative;
  z-index: -1111111111111111111111;
  align-items: center;
  bottom: 20%;
  right: 10%;
  width: 80%;
  transform: perspective(1000px) rotateX(0deg) scale(0.5);
  transform-origin: center bottom;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  transition: transform 0.5s ease-in-out, bottom 0.5s ease-in-out, right 0.5s ease-in-out, width 0.5s ease-in-out;
}

@keyframes randomFlicker {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  15% {
    opacity: 0.98;
  }
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0.89;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0.0.93;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0.99;
  }
  85% {
    opacity: 0.95;
  }
  95% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.focused-image-display {
  position: absolute;
  top : -0.5rem;
  bottom: 25rem;
  margin-left: 1rem;
  margin-top: 1rem;
  right: 5rem;
  z-index: -2; /* Change the z-index to bring it up above other elements */
  opacity: 1;
  object-fit: fill;
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;
  animation: randomFlicker 1.65s infinite ease-in-out;
  border: #f2982f 1px solid;
  border-style: dashed;
}


@keyframes float {
  0% {
    transform: translateY(0) rotateX(-5deg);
  }
  50% {
    transform: translateY(-.2rem) rotateX(-5deg);
  }
  100% {
    transform: translateY(0) rotateX(-5deg);
  }
}


.image-container{
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 80%;
  bottom:1rem;
  z-index: -3;
  opacity: 1;
  object-fit: cover;
}


.image-column {
  flex: 1;
/* Add some spacing between the columns */
  overflow: hidden;
  content: fill;

  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height:   100%;
  position: absolute;

  border-radius: 50%;
transform: translateY(50%);
}

.text-column {
  flex: 1;
  padding-left: 1rem; /* Add some spacing between the columns */
  margin-bottom: 1rem;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  background-color: #00000033;
  opacity: 1;
  height: 50%;
  width: 100%;
  position: absolute;
  align-content: right;
  border-radius: 50%;
  padding-top: 1rem;
  padding-bottom:0rem;
  transform: translateX(15%) scale(1.1) translateY(20%); 
}

.image-display{
  margin-left: 1.4rem;
  transform: scale(1) skewX(5deg);
  z-index: 1000000000000000000000000000000000000000000;
}

.image-display:hover{
  transform:
  perspective(1000px)
 scale(1.5) 
 rotateX(-0deg) 
 rotateY(-50deg) 
 skewX(0deg) 
 skewY(-0deg)
 rotateZ(0deg) translateX(30%) translateY(-20%) scaleX(1.5)
;
opacity: 1;

}

/* Add the following CSS */
.ui-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: auto;
}

.fixedImage {
  z-index: -2;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dynamicImage {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
  object-fit: cover;
}

.dynamicImage {
  transition: transform 0.1s linear;
}

.dashboard {
  position: fixed;
  bottom: -5%;
  top:-5%;
  left: 0;
  width: 100%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10;
  perspective: 2500px;
}

.dashboard-container {
  position: inherit;

  justify-content: center;
  align-items: flex-end;
  z-index: 550;
}

.holographic {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  margin-left: 70%;
  padding: 1rem;
  color: #f2982f; /* Green console-like font color */
  font-family: "Courier New", Courier, monospace;
}

.toggle-minimize-button {
  position: absolute;
  right: 47.6%;
  left: 48%;
  height: 25%;
  bottom: 17.3%;
  width: 4.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000000000000000000;
  background-color: rgba(17, 2, 2, 0.623);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
  transform: perspective(1500px) rotateX(66deg) scale(1);
  transform-origin: center bottom;
}

.toggle-minimize-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: perspective(1500px) rotateX(25deg) scaleY(0.75);
}

/* Prompt Pannel CSS*/


.spaceship-button {
  background-color: #2d2d2d;
  border: 1px solid #f2982f;
  color: #f2982f;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  transition: all 0.2s ease;
}


.prompt-button {
  background-color: #2d2d2d;
  border: 1px solid #32CD32;
  color: #32CD32;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  transition: all 0.2s ease;

  height: 10.1%;
  transform: translate(510%,330%) perspective(100rem) rotateX(35deg)   ;
  width: 4.5%;

}
.master-button {

  border: 1px solid #32CD32;
  color: #32CD32;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  transition: all 0.2s ease;
}

.prompt-panel {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  z-index: 10;
  background-color: rgba(10, 10, 10, 0.8);
  color: #32CD32;
  border: 1px solid #32CD32;
  box-shadow: 0 0 10px #32CD32;
  transition: all 0.3s ease-in-out;
  z-index: 30;
  transform-origin:  left;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  z-index: 1;
  left:02%;
  width: 25%;
  bottom: 47%;
  height: 50%;

  


transform:
perspective(500px)
 scale(0.9) 
 rotateX(0deg) 
 rotateY(10deg) 
 skewX(5deg) 
 skewY(0deg)
 rotateZ(6deg);
  animation: randomFlicker 20s infinite ;
}


.prompt-panel-closed {
  position: absolute;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  z-index: 10;
  background-color: rgba(10, 10, 10, 0.8);
  color: #32CD32;
  border: 1px solid #32CD32;
  box-shadow: 0 0 10px #32CD32;
  transition: all 0.3s ease-in-out;
  z-index: 30;
  transform-origin:  left;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  z-index: 100000000000;
  left:7.6%;
  width: 19%;
  bottom: 9.7%;
  height: 27.5%;
  transform:
  perspective(100rem)
 scale(0.40) 
 rotateX(25deg) 
 rotateY(22deg) 
 skewX(20.5deg) 
 skewY(15deg)
 rotateZ(-33deg);


  animation: randomFlicker 20s infinite ;
}

.space-radio{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomed {
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1);
  z-index: 50;
}
/* main-container.css */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.header,
.footer {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  overflow-y: auto; /* Allow scrolling inside content if necessary */
}


.marquee-container {
  position: absolute;
  width: 41%;
  height: 20%;
  bottom: 34%;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: 1px solid #f2982f;
  z-index: 0;
}


.marquee-content {
  display: inline-block;
  font-size: 24px;
  color: #f2982f;
  font-family: "Orbitron", sans-serif;
  white-space: nowrap;
  bottom: 1rem;
  margin-bottom: 2.2rem;
  text-shadow: 
    0 0 5px rgba(50, 205, 50, 0.7), 
    0 0 10px rgba(50, 205, 50, 0.5),
    0 0 15px rgba(50, 205, 50, 0.3);
  animation: marquee 155s linear infinite;
}
.marquee-title {
  position: absolute;
  text-align: top;
  font-size: 1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
  right:1rem;


  color: #f2982f;
  font-family: "Orbitron", sans-serif;
  white-space: nowrap;
  
  text-shadow: 
    0 0 5px #f2982f, 
    0 0 10px #f2972f8a,
    0 0 15px #f2972f75;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll-text {
  position: absolute;
  top: 0;
  left: 10%;
  animation: scrolling 60s linear infinite;
}

@keyframes scrolling {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

.scroll-container:hover .scroll-text {
  animation-play-state: paused;
}

.prompt-display{
  position: absolute;
height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-text {
  white-space: pre-wrap;
  overflow: hidden;
  border-right: 0.15rem solid;
  animation: blink-caret 0.75s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.spaceship-panel {
  font-family: "Orbitron", sans-serif;
  background-color: #101010;
  color: #f2982f;
  border: 2px solid #f2982f;
  border-radius: 10px;
  padding: 20px;
}
.token-selection-panel-focused-off {
  font-family: "Orbitron", sans-serif;
  background-color: #101010;
  color: #f2982f;
  border: 2px solid #f2982f;
  border-radius: 10px;
  position: absolute;
  /*make into a circle*/
  border-radius: 50%;
  z-index: -1;
  box-sizing: border-box; /* Add box-sizing to include padding and border in the dimensions */
  overflow: hidden; /* Add overflow property to handle the overflowing content */
  bottom: 60%;
  top: 5%;
  left: 27%;
  opacity: .7;
  right: 35%;
  width: 45%;
  height: 70%;
}

.token-selection-panel-focused {
  font-family: "Orbitron", sans-serif;
  background-color: #101010f3;
  color: #f2982f;
  border: 2px solid #f2982f;
  border-radius: 10px;
  position: absolute;
  /*make into a circle*/
  border-radius: 50%;
  z-index: -1;
  box-sizing: border-box; /* Add box-sizing to include padding and border in the dimensions */
  overflow: hidden; /* Add overflow property to handle the overflowing content */
  bottom: 60%;
  top: 5%;
  left: 27%;
  opacity: .7;
  right: 35%;
  width: 45%;
  height: 70%;
}
.panel-content {
  display: flex;
  align-items: center; /* Vertically align items */
  justify-content: space-evenly; /* Add space between items */

}

.image-container {
  flex: 1; /* Use flex to divide available space */
  /* Add any additional styles for the image container */

}

.text-container {
  flex: 1; /* Use flex to divide available space */
  /* Add any additional styles for the text container */
}

.thefinal{
  z-index: 100001;
  opacity: 1;
}
.token-selection-panel {
  font-family: "Orbitron", sans-serif;
  background-color: #101010;
  color: #f2982f;
  position: absolute;
  bottom: 29.6%;
  left: 425.2%;
  width: 10.21%;
  height: 12%;
  z-index: 30;
  opacity: 0;
  z-index: 100000;
  animation: randomFlicker 30s infinite ease-in-out;

}
.switchboard {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  height: 45%;
  width: 100%;
  top: 140%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #222;
  box-shadow: 0px 0px 10px #f2982f;
z-index: 10000000000000000000000000;
  opacity: 1;
  animation: none;
  transition-delay: 2s;
  transform: scale(1) skewX(25deg) rotateZ(-8.5deg);


}
.switchboard-attribute-container{
  display: flex;
  flex-wrap: wrap;
height: auto;
bottom: -5rem;
width: auto;
  background-color: #222;
  box-shadow: 0px 0px 10px #f2982f;
}
.encode-signal-pannel{
  justify-content: center;
  width: 100%;
  height: auto;
  overflow-wrap: break-word;
}
.switchboard-attribute {
  height: 15%;
  width: 27%;
  display: flex;
  flex-wrap: wrap;
  transform: scale(.91);
  padding: 1rem;
  margin: .9rem;
  border: 2px solid #f2982f;
  border-radius: 1px;
  color: #f2982f;
  background-color: rgba(0, 255, 0, 0.1);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
  justify-content: center;
}

.switchboard-attribute.checked {
  background-color: #f2982f;
  color: #000; /* Change the text color when checked for better visibility */
  opacity: 0.1;
  position: relative;
}
.switchboard-real{
  position: relative;
  top: 10%;
  bottom: 0rem;
  max-height: 10%;
  max-width: 100%;
  height: 10%;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #222;
  box-shadow: 0px 0px 10px #f2982f;
z-index: 10000000000000000000000000;
  opacity: 1;
  animation: none;

}


.fancy-data {
  color: #f2982f;
  font-family: "Courier New", monospace;
  font-size: 1.2rem;
  line-height: 1rem;
  text-align: center;
  white-space: wrap;
  overflow-wrap: anywhere;
}


.hex-data {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #f2982f;
  font-family: "Courier New", monospace;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  white-space: wrap;
  overflow-wrap: anywhere;
  z-index: -1;
}

.hex-prompt {
  font-family: "Courier New", monospace;
  background-color: rgba(0, 255, 0, 0.1);
  border: 1px solid #f2982f;
  border-radius: 4px;
  color: #f2982f;
}
.dashboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
}
.staticOverlay {
  position: fixed;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  pointer-events: none;
  z-index: 1;
  backdrop-filter: sepia(30%) invert(5%);
  transform: perspective(300px) translateZ(0px);
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f2982f;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.attribute-label {
  margin-top: 5px;
  color: #f2982f;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}


.focused-right {
  position: absolute;
  top: 40%;
  right: 15%;
  left: 80%;
  height: 30%;
  width: 15%;
transform: perspective(18rem) rotateY(-12deg) rotateX(12deg) rotateZ(12deg) skewY(-5deg)skewX(-10deg)scale(1);
   /* Apply the 3D transformations */
   
   transform-origin: center center;
  z-index: 100;
  animation: randomFlicker 10.65s infinite ease-in-out;
}

/* Default button styles */
#spaceshipButton {
  font-family: 'Courier New', monospace;
  font-size: 16px;
  background-color: #000;
  color: rgb(255, 153, 0);
  border: 1px solid #0f0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

#spaceshipButton.loading {
  background-color: #333;
  color: rgba(229, 255, 0, 0.956);
  border-color: rgba(0, 255, 0, 0.5);
  animation: pulseText 2s infinite;
}

@keyframes pulseText {
  0% { opacity: 0.5; }
  50% { opacity: 0.6; }
  100% { opacity: 0.5; }
}

/* Style for the active state */
#spaceshipButton.active {
  background-color: rgba(31, 108, 21, 0.985);
  color: #000;
  border-color: #000;
  animation: blinkText 0.5s infinite;
}

/* Blinking text animation */
@keyframes blinkText {
  0% { opacity: 0.6; }
  50% { opacity: 0.6; }
  100% { opacity: 0.5; }
}


.warpSpeedEffect {
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.warpSpeedActive {
  opacity: 1;
}


.warpImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url("https://i.pinimg.com/originals/0d/a9/a5/0da9a5f9054b0ec2297269a44809257d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.warpImage1 {
  animation: zoomIn 5s infinite linear;
}

.warpImage2 {
  animation: zoomIn 5s infinite linear 0.5s;
}

.acquiring-target-card {
  position: absolute;
  top: 63.5%;
  left: 25.7%;
  background-color: rgba(0, 0, 0, 0);
  width: 10%; /* Set the width */
  height: 11%; /* Set the height */
  max-width: 6%; /* Set the width */
  max-height: 11%; /* Set the height */
  border-radius: 50%; /* Make it a circle */
  border: 2px solid#f2982f;
  z-index: 1;
  text-align: center;
  color: #f2982f;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: repeat;

}
.tokenid-display {
  position: absolute;
  top: 63%;
  bottom: 79%;
  left: 33.6%;
  background-color: rgba(0, 0, 0, 0);
  width: 10%; /* Set the width */
  height: 15%; /* Set the height */
  max-width: 4%; /* Set the width */
  max-height: 8.2%; /* Set the height */
  border-color: #00000093;
  transform-origin: left;
  justify-content: right;
  transform: rotateY(-20deg)rotateZ(-6deg)rotateX(03deg) scale(0.9);
  animation: randomFlicker 1.65s infinite ease-in-out;
  z-index: 1;
}


.input-panel {
}

.prompt-display-div{
  position: relative;
  left: 10%;
  right: 10%;
  margin-right: 10%;
  height: 65%;
  opacity: 1;
  background-color: #000;
  bottom: -37%;
  width: 100%;
  flex-direction: column;
  transform-origin: left;
  display: flex;
  transform: rotateX(45deg) rotateZ(-5deg)skewX(23deg) skewY(-7deg) scale(0.86);
  transition: ease-in-out 0.5s;


   
}

/* General scrollbar styles */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

/* Track (the part that the scrollbar thumb slides on) */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2); /* Add some transparency to the track */
  border-radius: 10px; /* Add rounded corners to the track */
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(12, 9, 0), #f2982f); /* Create a holographic gradient */
  border-radius: 10px; /* Add rounded corners to the thumb */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Add a subtle border to the thumb */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, D, rgb(12, 9, 0)); /* Change the gradient colors on hover */
  border: 1px solid FW; /* Increase the border opacity on hover */
}


.prompt-display-div:hover{
  position: relative;
  left: 10%;
  right: 10%;
  margin-right: 10%;
  height: 75%;
  opacity: 1;
  background-color: #000;
  bottom: -2%;
  width: 100%;
  flex-direction: column;
  transform-origin: left;
  display: flex;
  transform:  scale(1.2);
  transition: ease-in-out 0.5s;
  animation:none;
  color:white;
  z-index: 10000000000000000000000000000000;



}

.animated-floating {


  animation: float 3.65s infinite ease-in-out;
}
.prompt-input{
  
  transform-origin: left;
  height: 100%;
  flex-direction: column;
  padding: 2rem;
  margin: 0.2rem;
  z-index: 10000000000000000000000000000000;
}

.spaceship-display-screen-off{
  width: 100%;
  height: 100%;
  background: #000000;
  backdrop-filter: blur(8px);
  align-items: center;
  font-family: "Orbitron", sans-serif;
  opacity: .8;
  text-shadow: 0 0 20px #000000, 0 0 40px #000000, 0 0 60px #000000;;
  border: #030000 10px solid;/* Adjust the color to your preference */
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 11111100000000000000000000000000000000000; /* Higher z-index to bring it up above other elements */
  /* Center the screen and scale it up */
  pointer-events: none;
}
.prompt-span{
display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  word-break: break-all;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  color: #f2982f;
  text-shadow: 0 0 0.5rem #f2982f;
  animation: randomFlicker 1.65s infinite ease-in-out;

}
.screen-toggle{
  position: relative;
  bottom: 5%;
  top:5%;
  left:29%;
  height: 32%;
  width: 28%;
  transform: perspective(100rem) scale(1) rotateX(20deg) rotateZ(-25deg) rotateY(-10deg) skewX(10deg) skewY(21deg) ; 
  animation: randomFlicker 1.65s infinite ease-in-out;
}

.acquiring-target-circle {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  height: 100%;
  width: 100%;
  bottom: auto;

  animation: blink 1s infinite ease-in-out;
}
.acquiring-target-text{
  background-color: rgba(0, 0, 0, 0);
  padding: 2%;
  margin-top: 1%;
  border-color: #00000093;
  opacity: 10;
  transform-origin: left;
  justify-content: center;
  margin-top: -1rem;
  right: inherit;
  height: 200%;
  width: 100%;
  z-index: 1;
  position: absolute;
  transform: rotateZ(-9deg) rotateX(25deg)translateX(0.3rem) skewX(5deg) scale(1.1);
}

@keyframes blink {
  0% {
    opacity: .3;
  }

25% {
  opacity: 0.2;
}
  50% {
    opacity: 0.1;
  }

75% {
  opacity: 0.2;
}
  100% {
    opacity: .3
  }
}

.yellow {
  animation: blink 1s infinite;
}


.description-text {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  line-height: 1.5;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.spaceship-button {
  background-color: #f2982f;
  color: #f2982f;
  border: 1px solid #f2982f;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}


.spaceship-button:hover {
  background-color: #2ff246;
  opacity: 1;
}

.spaceship-button.active {
  background-color: #21d518;
  opacity: 1;
  color:#0f0;
  animation: randomFlicker 0.25s infinite ease-in-out;
  pointer-events: none;
}

input[type='checkbox'] {
  margin-right: 5px;
}

.spaceship-interface {
  overflow: fill;
position: absolute;
  top: 21%;
  left: 72%;
  right: 28%;
  bottom:50%;
  height: 25%;
  width: 45%;
  opacity: 0.60;
  opacity: 0.0;
  left:auto;

  perspective: 1000px;
  transform-origin: right;
  transform: rotateY(deg) rotateX(-deg) rotateZ(-1deg) skewX(37deg)skewY(10.1deg)scale(3.5);

  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(14,14,44,1) 100%);
}

.unfocused-synthboy {

}
.dropdown-container{
  position: absolute;

  border: 1px solid #f2982f;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.holographic{
  background-color: rgba(0, 0, 0, 0.5);
  color: #f2982f;
  border: 1px solid #f2982f;
  box-shadow: 0 0 10px #f2982f;
  transition: all 0.3s ease-in-out;
}
.dropdown-select {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color:#f2982f;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #f2982f;
  box-shadow: 0 0 10px #f2982f;
  appearance: none;
  cursor: pointer;
}

.dropdown-option {
  background-color: rgba(0, 0, 0, 0.733);
  color: #f2982f;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #f2982f;
  box-shadow: 0 0 10px#f2982f;
  transition: all 0.3s ease-in-out;
}
.aiu-content {
  display: flex;

  position: absolute;
  width: 100%;
  height: 150%;
  margin: 0;
  padding: 0;
  bottom:7rem;
  background-color: #101010;
  opacity: 1;

  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
 

}

.aiu-header {
  display: flex;
  width: 20%;
  height: 25%;
  left: -30%;
  bottom: 28%;
}

.aiu-body {
  display: flex;
  position: absolute;

}

.metadata-content {
  position:absolute;
  display: flex;
  width: 100%;

  margin-right: 50%;
  margin-left: 30%;
  right: -30rem;
  background-color: #101010b0;
  border: #f2982f;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  z-index: 30;
}
.encode-signal-button {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 1);
  z-index:-1;
}
.encode-signal-switchboard-attribute-container {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 1);
  z-index:-1;
}
.attributes,
.description {
  width: 25%;
}
