@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.unfocused {
  position: fixed;
  left: 0;
  transform: perspective(1000px) rotateY(45deg) scale(0.8);
  transform-origin: left center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

.focused {
  position: static;
  transform: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px 0px;
}

.unfocused-right {
  position: fixed;
  right: 0;
  transform: perspective(1000px) rotateY(-45deg) scale(0.8);
  transform-origin: right center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

.unfocused-bottom {
  position: fixed;
  bottom: 0;
  transform: perspective(1000px) rotateX(45deg) scale(0.8);
  transform-origin: center bottom;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 8px 0px;
}

